.formWrapper {
  .form-group.row  {
    margin: 0 0 1em;

    label {
      display: block;
      margin: 0 0 .28571429rem 0;
      color: rgba(0,0,0,.87);
      font-size: .92857143em;
      font-weight: 700;
      text-transform: none;
    }

    input, textarea, select {
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      margin: 0;
      outline: 0;
      tap-highlight-color: rgba(255,255,255,0);
      line-height: 1.21428571em;
      padding: .5em .8em;
      font-size: 1em;
      background: #fff;
      border: 1px solid rgba(34,36,38,.15);
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color .1s ease,border-color .1s ease;
    }
  }

  .checkbox-group.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    label {
      margin-left: 15px;
      font-weight: 400;
    }
  }

  .select-group.row {
    display: flex;
    flex-direction: column;

    select {
      padding: .5em .8em;

      option {
        padding: .5em .8em;
      }
    }
  }

  button[type="submit"] {
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
  }
}
